@import '../../styles/colors.scss';

.priority {
  border-radius: 13px;
  padding: 2px 5px;
  border: 1px solid;
}

.low {
  border-color: $green;
  background-color: $light-green;
}

.medium {
  border-color: $yellow;
  background-color: $light-yellow;
}

.high {
  border-color: $red;
  background-color: $light-red;
}
