.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 1rem;
    }

    .field_box {
      .root {
        min-width: 320px;
      }

      .errors_box {
        text-align: left;
        margin-left: 5px;

        .errors {
          font-size: 14px;
          color: #1976d2;
        }
      }
    }

    .link {
      align-self: flex-end;
      cursor: pointer;
    }
  }
}
