.container {
  display: flex;
  flex-direction: column;

  .button {
    width: fit-content;
  }

  .action {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .root {
      width: 50%;
    }
  }
}
