@import '../.././styles//colors.scss';

.container {
  min-height: 70vh;
  margin-top: 1rem;
  padding: 1.5rem;
  box-shadow: $shadow;
  border-radius: 8px;

  .title {
    margin: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
