@import '../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: $denim;

  .headingContainer {
    display: flex;
    align-items: center;

    .ukraineFlag {
      width: 100px;
      height: 100px;
    }
  }

  .group {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .root {
      width: 50%;
    }
  }

  .root {
    width: 60%;
  }

  .actions {
    display: flex;
    gap: 1.5rem;
    margin: 1rem 0;

    svg {
      cursor: pointer;
      font-size: 32px;
    }

    .add {
      color: $denim;
    }

    .remove {
      color: $yellow;
    }
  }

  .productHeading {
    font-weight: 400;
    text-transform: uppercase;
  }
}
