.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  .group {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .root {
      width: 50%;
    }
  }

  .root {
    width: 50%;
  }
}
