.container {
  height: 73vh;
  margin-top: 1rem;
  padding: 1.5rem;
  box-shadow: 2px 2px 20px 2px rgba(171, 165, 165, 0.3);
  border-radius: 8px;

  .title {
    margin: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
