.container {
  padding: 1rem;
  box-shadow: 2px 2px 20px 2px rgba(171, 165, 165, 0.3);
  margin-top: 100px;

  .title {
    margin: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row {
    display: flex;

    .textField {
      width: 25%;
    }

    .title {
      width: 75%;
      padding: 0.5rem 1rem 0;
      text-align: start;
    }
  }
}
