.form {
    .column {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .input {
        min-width: 25vw;
    }

    .label {
        padding: 0.5rem 1rem 0;
        margin: 1rem;
        color: #82888C;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 1rem;
        line-height: 1.5;
    }
}

.errors_box {
    position: absolute;
    top: 25px;
    right: 27vw;

    .errors {
        font-size: 14px;
        color: #1976d2;
    }
}