@import '../../styles/colors.scss';

.status {
  border-radius: 4px;
  padding: 2px 5px;
  width: max-content;
}

.inProgress {
  background-color: $yellow;
}

.completed {
  background-color: $light-grey;
}

.rejected {
  background-color: $red;
}
