@import '../../styles/colors.scss';

.status {
  border-radius: 13px;
  padding: 2px 5px;
  border: 1px solid;
  width: max-content;
}

.green,
.verified {
  border-color: $green;
  background-color: $light-green;
}

.yellow,
.new {
  border-color: $yellow;
  background-color: $light-yellow;
}

.completed {
  border-color: $grey;
  background-color: $light-grey;
}

.rejected {
  border-color: $red;
  background-color: $light-red;
}
