@import '../../styles/colors.scss';

.status {
  border-radius: 4px;
  padding: 4px 12px;
  width: max-content;
}

.green,
.verified {
  background-color: $green;
}

.yellow,
.inProgress,
.new {
  background-color: $yellow;
}

.completed {
  background-color: $light-grey;
}

.rejected {
  background-color: $red;
}
