@import '../../styles/colors.scss';

.status {
  border-radius: 13px;
  padding: 2px 5px;
  border: 1px solid;
}

.green {
  border-color: $green;
  background-color: $light-green;
}

.yellow {
  border-color: $yellow;
  background-color: $light-yellow;
}
