@import '../../styles/colors.scss';

.root {
  color: $theme-text-color;
}

.container {
  text-align: start;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Can be moved to shared styles */
  .fontBold {
    font-weight: 400;
  }

  .body {
    display: flex;

    .tabsContainer {
      flex: 2;

      .tabsSearchBox {
        display: flex;
        justify-content: space-between;

        .search{
          position: relative;
    
          .search_action {
            background-color: transparent;
            border: none;
            position: absolute;
            top: 24px;
            right: 8px;
          }
          
          .export_button {
            margin: 16px;
            display: inline-flex;
          }
        }
      }
    }

    .subTable {
      width: 100%;
    }

    .subRow {
      padding: 0;
    }

    .noteCell {
      text-align: end;
    }

    .opened {
      border-left: 5px solid #1976d2;
    }
  }
}

.btnGreen {
  background-color: $green;
  color: white;
}

.btnRed {
  background-color: $red;
  color: white;
}

.btnGreen:hover {
  background-color: $darkgreen;
  color: white;
}

.btnRed:hover {
  background-color: $pink;
  color: white;
}

.subtaskRow {
  cursor: pointer;
}

.subtaskRow:hover > * {
  background-color: $mui-grey-200;
}