@import '../../styles/colors.scss';

.container {
  text-align: start;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body {
    display: flex;

    .tabsContainer {
      flex: 2;
    }
  }
}
