@import '../../styles/colors.scss';

.container {
  text-align: start;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
    }

    svg {
      cursor: pointer;
      font-size: 48px;
    }
  }
}
