@import '../../../.././styles//colors.scss';

.table_container {
  box-shadow: none;

  .title {
    padding: 0;
    color: $grey;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.5;

    // as table cell
    display: table-cell;
    width: 76%;
  }

  .table_cell {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: $theme-text-color;
  }

  .table_cell,
  .title {
    border: none;
  }
}
