.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .adressLabel {
    margin: 1rem 0 0.5rem 0;
    padding-left: 1rem;
    text-align: start;
  }

  .root {
    width: 25%;
  }
}
